[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
ipdb = "*"
rich = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
werkzeug = "2.2.2"
pick = "*"
simple-term-menu = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
